name: Example Workflow

on:
  workflow_dispatch:
    inputs:
      file-path:
        description: 'The path to the file to be analyzed'
        required: true
        default: './mutations.xml'
      display-only-survived:
        description: 'Whether to display only survived mutations'
        required: false
        default: 'false'

permissions:
  actions: read
  contents: read

jobs:
  mutation-tests:
    name: Mutation Testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Summarize Mutations
        id: test-action-all-mutations
        # Change @main to a specific commit SHA or version tag, e.g.:
        # yonatankarp/pitest-summary@e76147da8e5c81eaf017dede5645551d4b94427b
        # yonatankarp/pitest-summary@v1.2.3
        uses: yonatankarp/pitest-summary@add-action
        with:
          file-path: ${{ github.event.inputs.file-path }}
          display-only-survived:
            ${{ github.event.inputs.display-only-survived }}
